@import './colors.styl';

#contact
	#contact-mailing-list
	  #contact-twitter span
	    color black
	  form
	    padding-left 0 !important
	    input[type=submit]
	      background-color theme-blue
	      
	#map
	  width 100%
	  height 30%
	  min-height 150px