@import 'nib'
@import './font-awesome.css';

*
  box-sizing border-box

body
  font-size 16px
  font-family Lato, sans-serif
  color rgb(60,60,60)
  background-color #fff

a
  text-decoration none
  outline 0
  color rgb(60,60,60)
  &, &:active, &:focus
    outline none

.fullscreen-bg
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  z-index -100

.fullscreen-bg-video
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  @media (min-aspect-ratio: 16/9)
    width: 100%
    height: auto
  @media (max-aspect-ratio: 16/9)
    width: auto
    height: 100%

.slide
  width 100%
  .header
    position absolute
    text-align center
    top 50%
    left 50%
    width 60%
    transform translate(-50%, -50%)
    color #fff
    .title
      font-size 30px
    .desc
      font-size 20px
    &.stick
      position fixed
      text-align left
      top 5%
      left 5%
      transform translate(0, 0)
      -webkit-transition all 1s
      .title
        font-size 20px
      .desc
        display none
  .card
    width 90%
    min-height 90%
    margin-left auto
    margin-right auto
    background-color #fff
