@import 'nib';
@import './font-awesome.css';
@import './people.styl';
@import './projects.styl';
@import './publications.styl';
@import './contacts.styl';

*
  box-sizing border-box

@font-face
  font-family Cassannet
  src url('/assets/Cassannet.otf')

@font-face
  font-family CassannetBold
  src url('/assets/Cassannet Bold.otf')

body
  font-size 16px
  font-family Lato, sans-serif
  color rgb(60,60,60)
  background-color #fff
  width 100vw

a
  text-decoration none
  outline 0
  color rgb(255,255,255)
  transition all .3s
  &, &:active, &:focus
    outline none
  &:hover
    color rgba(255,255,255,.8)

ul
  padding 0
  list-style-type none

.fullscreen-bg
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  z-index -100
  @media screen and (max-width: 900px)
    background-image url('/assets/bg_video_fallback.jpg')
    background-size cover

.fullscreen-bg-video
  @media screen and (max-width: 900px)
    display none
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  @media (min-aspect-ratio: 16/9)
    width: 100%
    height: auto
  @media (max-aspect-ratio: 16/9)
    width: auto
    height: 100%

.slide
  width 100%
  margin-bottom 80px
  .title
    font-family Cassannet, sans-serif
    font-variant small-caps
    font-size 60px
    font-weight 400
    text-shadow 0 1px 0 rgba(0,0,0,.8)
    margin-bottom 20px
  .header
    position absolute
    text-align center
    top 50%
    left 50%
    @media screen and (max-width: 900px)
      width 90%
    width 60%
    transform translate(-50%, -50%)
    color #fff
    .desc
      font-size 22px
      font-weight 400
      color rgba(255,255,255,.8)
  .header-stick
    display block
    position fixed
    text-align left
    left 0
    top 0
    background linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,0))
    width 100vw
    color #fff
    .title
      display none
      float left
      padding-left 5%
      font-size 25px
    .menu
      float right
      padding-right 5%
      display inline-block
      line-height 70px
      text-shadow 0 1px 0 rgba(0,0,0,.8)
      font-size 20px
      &:hover
        cursor pointer
    ul.menu-dropdown
      position fixed
      display none
      top 50px
      right 5%
      @media screen and (max-width: 900px)
        width 90vw
        left 5vw
      background-color rgba(0,0,0,.5)
      width 200px
      color #fff
      border-radius 3px
      li
        line-height 40px
        transition transform .3s
        &:hover
          transform translateX(2px)
  .card
    width 90%
    min-height 90%
    margin-left auto
    margin-right auto
    background-color rgba(255, 255, 255, .95)
    padding 25px 25px
    border-radius 2px
    box-shadow 0 0 25px rgba(0,0,0,.42)
    overflow hidden
    a
      color theme-blue
      &:hover
        color theme-blue-hover
    
  .subsection-title
    color theme-blue
    font-variant small-caps

  .subsection-content
    margin-top 30px
    font-size 14px

  #subsection-news
    @media (min-width: 1200px)
      border-top 2px solid theme-blue
      margin-top 50px
    font-size 13px
    .fa
      color theme-blue
  
  figure
    img
      padding-bottom 10px
      width 100%  

    figcaption
      color theme-blue
      font-style italic

#intro
  min-height 100vh

.fa
  margin-right 8px
  
@media (min-width: 1200px)
  #subsection-about-us, #subsection-people, #project-news-box
    display inline-block
    vertical-align top
    padding 0 20px
  #subsection-about-us
    width 30%
  #subsection-people
    width 30%
  #project-news-box
    width 40%
    #subsection-projects, #subsection-news
      width 100%

@media (max-width: 1199px)
  #subsection-about-us, #subsection-people, #subsection-projects, #subsection-news
    display block
    width 100%
