@import 'nib'
@import './font-awesome.css';
@import './people.styl';
@import './projects.styl';

*
  box-sizing border-box

body
  font-size 16px
  font-family Lato, sans-serif
  color rgb(60,60,60)
  background-color #fff

a
  text-decoration none
  outline 0
  color rgb(255,255,255)
  &, &:active, &:focus
    outline none
  &:hover
    color rgb(255,255,255,.8)

.fullscreen-bg
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  overflow hidden
  z-index -100

.fullscreen-bg-video
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  @media (min-aspect-ratio: 16/9)
    width: 100%
    height: auto
  @media (max-aspect-ratio: 16/9)
    width: auto
    height: 100%

.slide
  width 100%
  margin-bottom 80px
  .header
    position absolute
    text-align center
    top 50%
    left 50%
    width 60%
    transform translate(-50%, -50%)
    color #fff
    -webkit-transition all .7s
    .title
      font-size 35px
      font-wight 400
      text-shadow 0 1px 0 rgba(0,0,0,.8)
    .desc
      font-size 20px
      font-wight 300
      color rgba(255,255,255,.8)
    .menu
      display none
    ul.menu-dropdown
      position fixed
      display none
      top 50px
      right 0
      background-color rgba(0,0,0,.5)
      width 200px
      color #fff
      border-radius 3px
      list-style-type none
      li
        line-height 40px
    &.stick
      position fixed
      text-align left
      top 20px
      left 0
      transform translate(0, 0)
      width 100vw
      .title
        float left
        padding-left 5%
        font-size 20px
      .desc
        display none
      .menu
        float right
        padding-right 5%
        display inline-block
        line-height 64px
        text-shadow 0 1px 0 rgba(0,0,0,.8)
        &:hover
          cursor pointer
  .card
    width 90%
    min-height 90%
    margin-left auto
    margin-right auto
    background-color #fff
    padding 20px 20px
    border-radius 2px
    
  .subsection-title
    color theme-blue
  
  figure
    img
      width 100%  

    figcaption
      color theme-blue


