@import './colors.styl';

#people-list
  .person
    display inline-block
    width 50%
    margin-bottom 20px
    vertical-align top
    
    *
      display block
      margin 0 auto
    
    img
      width 100px
      height 100px
      border-radius 100%
      border 3px solid theme-blue
      
      @media (max-width: 479px)
        width 80%
        height 80%
      
    .person-info
      margin 1em 0 0.3em 0
      
    .person-name, .person-title, .person-email, .person-twitter
      text-align center
      
    .person-name, .person-title
      // color theme-blue
      font-size 0.8em
      line-height 1.5em
    .person-email, .person-twitter
      font-size 0.7em
      color black