@import './colors.styl';

#project-list
  list-style-type none
  .project
    width 90%
    padding 0
    margin-bottom 20px
    
    .project-img-box, .project-info
      vertical-align top
      display inline-block
      
    .project-img-box > img
      height 100px
      width 100px
      
    .project-info
      width 100%
      
      