@import './colors.styl';

#project-list
  .project
  	background-color red
  	display inline-block
  	width 90%
  	height 300px
  	
  	
    img
      width 100px
      height 100px
      display inline-block
      vertical-align top
      
    // .project-info
    .project-info
    	background-color red
    	display inline-block
    	vertical-align top
	    .project-link
	    	color theme-blue