@import './colors.styl';

#project-list
  list-style-type none
  .project
    width 100%
    padding 0
    margin-bottom 40px
    
    .project-img-box, .project-info
      vertical-align top
      display inline-block
      
    .project-img-box
      height 100px
      width 100px
      
      img
        height 100%
        width 100%
      
    .project-info
      width calc(100% - 200px)
      padding 0 0 0 10px
      h3.project-title
        margin 0
      a.project-link
        color theme-blue
        &:hover
          text-decoration underline
      
      