@import './colors.styl';

#publications
  .card
    overflow hidden
  // a
  //   color theme-blue
  //   &:hover
  //     color theme-blue-hover
  // p
    // font-size 14px
  ul
    list-style-type none
    padding 20px 0 0 0
    margin-top 20px
    #mobile
      @media screen and (min-width: 900px)
        display none
      li
        width 100%
        margin-bottom 20px
        margin-left auto
        margin-right auto
        float left
        .image
          background-size cover
          width 99%
          height 150px
          margin-bottom 10px
    #desktop
      @media screen and (max-width: 900px)
        display none
      li
        width 100%
        margin-bottom 30px
        margin-left auto
        margin-right auto
        float left
        .image
          background-size cover
          width 99%
          height 220px
        .column
          float left
          padding-right 5%
        #abstract
          padding-right 0
        p
          margin 0
        #image
          width 30%
        #info
          width 25%
          position relative
          min-height 220px
          #title
            font-weight 400
            font-size 18px
            margin-bottom 10px
          #author
            font-weight 300
            color rgb(130, 130, 130)
          a
            position absolute
            bottom 0
            left 0
        #abstract
          width 45%
          font-weight 300
          font-size 12px
          text-align justify
