h2.subsection-title People
.subsection-content
  #people-list
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Lousie Barkhus
        .person-title Visiting Professor
      .person-contact
        .person-email barkhuus@dsv.su.se
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Nir Grinberg
        .person-title PhD Candidate
      .person-contact
        .person-email nir@cs.cornell.edu
        a.person-twitter @grinbergnir
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Xiao Ma
        .person-title PhD Candidate
      .person-contact
        .person-email xiao@jacobs.cornell.edu
        a.person-twitter @infoxiao
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Ross McLachlan
        .person-title Post-doc
      .person-contact
        .person-email rdm257@cornell.edu
        a.person-twitter @rossdmchlachlan
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Mor Naaman
        .person-title Associate Professor
      .person-contact
        .person-email mor@jacobs.cornell.edu
        a.person-twitter @infomor
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Minsu Park
        .person-title PhD Student
      .person-contact
        .person-email minsu@jacobs.cornell.edu
        a.person-twitter @mansumansu
    .person
      img(src="http://placehold.it/100x100", alt="")
      .perfon-info
        h4.person-name Minsu Park
        .person-title PhD Student
      .person-contact
        .person-email minsu@jacobs.cornell.edu
        a.person-twitter @mansumansu
    .person
      img(src="http://placehold.it/100x100", alt="")
      .person-info
        h4.person-name Emily Sun
      .person-title PhD Student
      .person-contact
        .person-email emily@jacobs.cornell.edu