h2.subsection-title Projects
.subsection-content
  #project-list
    .project
      img(src="http://placehold.it/120x120")
      h3 CommonBeat
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae   modi deleniti tempore blanditiis quia in maiores alias animi facere   consectetur iusto quibusdam, molestias doloribus, adipisci nisi,   incidunt fugiat cum esse. Ad maxime amet quasi voluptate cupiditate,   iste magnam molestias ullam officia aut dolorem expedita ducimus illum   doloremque, esse harum non!
      a(href="#") pdf
    .project
      img(src="http://placehold.it/120x120")
      h3 CommonBeat
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae   modi deleniti tempore blanditiis quia in maiores alias animi facere   consectetur iusto quibusdam, molestias doloribus, adipisci nisi,   incidunt fugiat cum esse. Ad maxime amet quasi voluptate cupiditate,   iste magnam molestias ullam officia aut dolorem expedita ducimus illum   doloremque, esse harum non!
      a(href="#") pdf